@charset "utf-8";
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
        url('../fonts/OpenSansRegular.woff2') format('woff2'),
        url('../fonts/OpenSansRegular.woff') format('woff'),
        url('../fonts/OpenSansRegular.ttf') format('truetype'),
        url('../fonts/OpenSansRegular.svg') format('svg');
}
@font-face {
    font-family: 'OpenSansMedium';
    src: url('../fonts/OpenSansMedium.eot') format('embedded-opentype'),
        url('../fonts/OpenSansMedium.woff2') format('woff2'),
        url('../fonts/OpenSansMedium.woff') format('woff'),
        url('../fonts/OpenSansMedium.ttf') format('truetype'),
        url('../fonts/OpenSansMedium.svg') format('svg');
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
        url('../fonts/OpenSansLight.woff2') format('woff2'),
        url('../fonts/OpenSansLight.woff') format('woff'),
        url('../fonts/OpenSansLight.ttf') format('truetype'),
        url('../fonts/OpenSansLight.svg') format('svg');
}
body {
    font-size: 14px;
    line-height: 1.7em;
    color: #333;
    font-family: 'OpenSansRegular';
}
a {
    cursor: pointer
}
* {
    margin: 0;
    padding: 0
}
*,
*:after,
*:before {
    box-sizing: border-box
}
#wrapper {
    min-width: 970px;
    overflow: hidden;
    position: relative
}
.inner {
    width: 900px;
    margin: 0 auto
}
main {
    margin-top: 55px
}
ul,
li {
    list-style: none
}
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #4ea435;
    z-index: 90;
}
.pc_gnavi {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.pc_gnavi>li {
    float: left;
    position: relative;
    z-index: 1;
    width: 180px;
}
.pc_gnavi>li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: -1;
    margin: 0 auto;
    top: 0;
    left: 0;
    transition: all 0.2s ease;
    opacity: 0;
    transform: scale(0.5)
}
.pc_gnavi>li:last-child:before {
    content: "";
    position: before;
    height: calc(100% - 26px);
    width: 1px;
    background: #fff;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    opacity: 0.5;
}
.pc_gnavi>li:hover:after {
    opacity: 1;
    transform: scale(1)
}
nav a {
    display: block;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-family: 'OpenSansMedium';
}
.pc_gnavi>li>a {
    position: relative;
}
.pc_gnavi>li>a:before {
    content: "";
    position: before;
    height: calc(100% - 26px);
    width: 1px;
    background: #fff;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    opacity: 0.5;
}
.pc_gnavi>li>ul {
    display: none;
    position: absolute;
    width: 100%;
    transition: all 0.6s ease;
}
.pc_gnavi>li:hover ul {
    display: block;
}
.pc_gnavi>li>ul a {
    display: block;
    padding: 15px 20px;
    background: #4ea435;
    text-decoration: none;
    color: #fff;
}
.pc_gnavi>li>ul a:hover {
    background: #3f8c29;
}
h1,
h2,
h3,
h4 {
    font-size: 30px;
    text-align: center;
    color: #33362c;
    font-weight: normal;
    margin-bottom: 50px;
    line-height: 1.5em;
}
h3 span {
    display: block;
    color: #949a87;
    font-size: 16px;
    line-height: 1.6em
}
.box_idx {
    padding: 10px 0 80px
}
.list01 {
    margin: 0 auto;
    text-align: center;
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.list01 a {
    display: inline-block;
}
.list01 li {
    width: 30%;
    margin: 0;
    display: inline-block;
}
.list01 li:hover img {
    opacity: 0.9
}
.list01 .a_img {
    display: block;
}
.list01 img {
    max-width: 100%;
    padding: 4px;
    border: 1px solid #cee4f4;
    position: relative;
    transition: all 0.5s ease;
    border-radius: 15px;
}
.list01 .tit {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.list01 .p_url {
    margin-bottom: 20px;
}
.pink {
    color: #d60c80
}
.organ {
    color: #ff8400
}
.list01 span {
    display: block
}
.url {
    color: #4ea435;
    margin: 10px auto 12px;
    font-size: 16px
}
.btn_view {
    color: #fff;
    text-align: center;
    background: #4ea435;
    border-radius: 40px;
    padding: 6px 50px;
    text-decoration: none;
    position: relative;
    transition: all ease 0.3s;
    z-index: 1;
    font-size: 15px;
    margin: 0 auto;
    overflow: hidden
}
.btn_view:after {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: all ease 0.3s;
    z-index: -1;
}
.btn_view:hover:after {
    left: 0;
}
.box_about {
    padding: 80px 0 150px;
    line-height: 2em;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}
.box_about .inner {
    position: relative;
}
.box_about .avatar {
    position: absolute;
    left: -30px;
    top: -70px;
    width: 200px;
    height: 200px;
    background: url('../images/ava.jpg') no-repeat center;
    background-size: 300%;
    border-radius: 100%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    border: 5px solid #fff;
}
.box_about .details {
    padding: 30px 0 0 0;
    width: 630px;
    margin-left: 160px;
}
.video_music {
    position: absolute;
    bottom: -50px;
    right: -100px;
    width: 280px;
    height: 200px;
    overflow: hidden;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    border: 5px solid #fff;
}
.video_music iframe {
    border: 0;
    width: calc(100% + 7rem);
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box_about p {
    font-size: 16px;
    line-height: 2em
}
.box_resume {
    padding: 80px 0;
}
.list_resume {
    position: relative
}
.list_resume:before {
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0;
    content: "";
    position: absolute;
    background: #4ea435;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.list_resume dl {
    margin-bottom: 70px
}
.list_resume dl:last-child {
    margin-bottom: 0
}
.list_resume dd {
    position: relative
}
.list_resume dt {
    position: relative;
    padding: 0 0 20px 50px;
    font-size: 22px;
    color: #33362c;
    text-transform: uppercase;
}
.list_resume dt:before {
    position: absolute;
    content: "";
    width: 55px;
    height: 55px;
    background: #4ea435 url(../images/history.svg) no-repeat center;
    background-size: 40%;
    left: -27px;
    top: -18px;
    border-radius: 100%;
}
.list_resume .coding_skill dt:before {
    background: #4ea435 url(../images/document.svg) no-repeat center;
    background-size: 40%;
}
.date {
    padding: 0 0 0 50px;
    position: relative;
    font-size: 18px;
    margin-bottom: 5px;
    color: #33362c
}
.date:before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    background: #ea9b05;
    left: -8px;
    top: 3px;
}
.posi {
    font-size: 18px;
    font-family: 'Open Sans Light';
    color: #33362c
}
.company {
    color: #999;
    margin-bottom: 14px;
    font-size: 18px
}
.posi,
.company,
.txt {
    padding: 0 0 0 50px
}
.txt {
    margin-bottom: 50px
}
.list_resume dd .txt:last-child {
    margin-bottom: 20px
}
.list_skill {
    padding: 0 0 0 50px;
    overflow: hidden
}
.list_skill li {
    padding: 8px 5px;
    position: relative;
}
.list_skill li:last-child {
    margin-bottom: 0
}

.list_skill span {
    position: absolute
}

@keyframes processing {
    0% {
        left: -100%
    }
    100% {
        left: 0
    }
}
.list_skill .percent {
    right: 5px;
    font-weight: bold;
    font-size: 12px;
    color: #81A82A;
    top: -3px;
    align-items: center;
    display: inline-grid;
    text-align: center;
    position: absolute;
    z-index: 9
}
.box_contact {
    padding: 80px 0 150px;
    /*  background: url(../images/bg01.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    background-attachment: fixed */
}
.box_contact h4 {}
.list_contact {
    font-size: 16px;
    text-align: left
}
.list_contact li {
    margin-bottom: 15px;
    padding-left: 33%
}
.list_contact li:last-child {
    margin-bottom: 0
}
.box_portofio {
    padding: 50px 0 80px;
}
.list_portofio {
    overflow: hidden;
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    flex-wrap: wrap-reverse
}
.list_portofio li {
    display: inline-block;
    flex-wrap: wrap;
    width: 30%;
    margin: 0 0 30px;
    padding: 4px 4px 12px 4px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
}
.list_portofio li a {
    display: inline-block
}
.list_portofio li a:first-child {
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    line-height: 0;
}
.list_portofio li img {
    max-width: 100%;
    max-height: 100%;
    transition: all 0.4s ease-in;
}
.list_portofio li:hover img {
    opacity: 0.7;
    transform: scale(1.1);
    transform-origin: center;
}
.list_portofio li .url {
    display: block;
    color: #81a82a;
    margin: 10px auto 12px;
    font-size: 16px;
    word-break: break-word;
    width: 100%;
        overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
footer {
    text-align: center;
    color: #fff;
    background: url('../images/footer_bg.png') no-repeat center bottom;
    background-size: contain;
    height: 133px;
    position: relative;
}
.copyright {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
}
.btn-more {
    text-align: center;
    margin: 20px auto 0
}
.btn-more a {
    font-size: 20px;
    color: #5ea3da;
    text-decoration: none;
    position: relative;
    padding: 0 30px 0 0
}
.btn-more a:hover {
    color: #3d709f
}
.btn-more a:after {
    content: "\00bb";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    transition: all 0.5s ease
}
.btn-more a:hover:after {
    right: 10px
}
#totop {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 2;
    line-height: 0;
    width: 40px;
}
#totop span {
    color: #333;
    position: absolute;
    top: -20px;
    left: 0;
    display: block;
    line-height: 1.5;
    text-align: center;
    width: 100%;
}
#totop a {
    display: inline-block;
}
#totop img {
    max-width: 100%;
    transition: all 0.5s ease
}
#totop:hover img {
    opacity: 0.7;
}
.dotted {
    position: relative;
    padding-left: 15px;
}
.dotted:after {
    content: "";
    position: absolute;
    left: 0;
    background: #4ea435;
    border-radius: 100%;
    top: 14px;
    height: 7px;
    width: 7px;
}
.portofilo .box_portofio {
    padding-bottom: 90px;
}
.link_a{
    color: #5ea3da;
}
.link_a:hover{
    color: #368cd0;
}
.pl-left{
    padding-left: 20px;
}
