 @font-face {
   font-family: 'Anton';
   src: url('../fonts/AntonRegular.eot');
   src: url('../fonts/AntonRegular.eot') format('embedded-opentype'),
      url('../fonts/AntonRegular.woff2') format('woff2'),
      url('../fonts/AntonRegular.woff') format('woff'),
      url('../fonts/AntonRegular.ttf') format('truetype'),
      url('../fonts/AntonRegular.svg#AntonRegular') format('svg');

 }
 @font-face {
    font-family: 'Roboto-Condensed-Bold';
    src: url('../fonts/RobotoCondensedBold.eot');
    src: url('../fonts/RobotoCondensedBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedBold.woff2') format('woff2'),
         url('../fonts/RobotoCondensedBold.woff') format('woff'),
         url('../fonts/RobotoCondensedBold.ttf') format('truetype'),
         url('../fonts/RobotoCondensedBold.svg#RobotoCondensedBold') format('svg');

}
@font-face {
    font-family: 'Roboto-Condensed-Regular';
    src: url('../fonts/RobotoCondensedRegular.eot');
    src: url('../fonts/RobotoCondensedRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedRegular.woff2') format('woff2'),
         url('../fonts/RobotoCondensedRegular.woff') format('woff'),
         url('../fonts/RobotoCondensedRegular.ttf') format('truetype'),
         url('../fonts/RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg');
}
